<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ urlGenerator('home') }}">Damian Białek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ activeMenu('home') ? 'active' : '' }}">
                <a class="nav-link" href="{{ urlGenerator('home') }}">Strona Główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ activeMenu('projects') ? 'active' : '' }}">
                <a class="nav-link" href="{{ urlGenerator('projects') }}">Moje projekty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/damianBialek/project" target="_blank">GitHub</a>
            </li>
        </ul>
        <div class="login-panel text-white ">
            {% set user = UserController('isLogged') %}
            {% if user  %}
                <span class="align-middle">Zalogowano jako: <b>{{ user['name'] }}</b></span>
                <span class="align-middle"><a href="{{ urlGenerator('logout') }}">Wyloguj</a></span>
            {% else %}
                <a href="{{ urlGenerator('login') }}">Logowanie</a>
            {% endif %}
        </div>
    </div>
</nav>
<main class="container">{% block content %}{% endblock %}</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>